@charset "UTF-8";
@media only screen and (max-width: 1200px) {
*{
	box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.col.sm-col12{width: 100%; float: left;}
.col.sm-col1{width: 8.33333333%;}
.col.sm-col2{width: 16.66666667%;}
.col.sm-col3{width: 25%;}
.col.sm-col4{width: 33.33333333%;}
.col.sm-col5{width: 41.66666667%;}
.col.sm-col6{width: 50%;}
.col.sm-col7{width: 58.33333333%;}
.col.sm-col8{width: 66.66666667%;}
.col.sm-col9{width: 75%;}
.col.sm-col10{width: 83.33333333%;}
.col.sm-col11{width: 91.66666667%;}
.rbtn::after {
	display: none;
}
.lzpic2{
	display: block;
}
.lzpic1{
	display: none;
}
.wrapper {
	padding: 60px 0 0 0;
}
.header {
	height: 60px;
	z-index: 105;
	top: 0;
	left: 0;
	position: fixed;
	padding: 0;
}
.header .logo{
	height: 43px;
	margin-top: 8px;
}
.header .link{
	display: none;
}
.header .menu-btn {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.header .menu-btn span {
	width: 28px;
	height: 3px;
	background: #015293;
	border-radius: 2px;
	position: absolute;
	left: 12px;
	top: 30px;
	z-index: 2;
	transition: 0.8s;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-ms-transition: 0.8s;
	-o-transition: 0.8s;
}
.header .menu-btn span.line1 {
	top: 20px;
}
.header .menu-btn span.line3 {
	top: 40px;
}
.mainnav {
	width: 260px;
	height: 100%;
	overflow: auto;
	position: fixed;
	right: -260px;
	top: 0;
	bottom: 0;
	z-index: 105;
	margin: 0;
	padding: 20px 0;
}
.mainnav::before {
	display: none;
}
.mainnav .nav {
	margin-top: 20px;
}
.mainnav .nav ,
.mainnav .nav > ul > li {
	float: none;
}
.mainnav .nav > ul > li > a {
	height: 60px;
	line-height: 60px;
	padding: 0 10px;
	text-align: center;
	border-bottom: solid 1px #003e6f;
}
.mainnav .nav > ul > li > a:hover {
	background: none;
}
.mainnav .search {
	width: 240px;
	float: none;
	margin: 0 auto;
	background: #ffffff;
	padding: 0;
}
.mainnav .search input[type="text"] {
	border-bottom: none;
	padding: 0 60px 0 10px;
}
.mainnav .search input[type="submit"],
.mainnav .search input[type="button"] {
	width: 50px;
	right: 0;
	background-position: center;
}
.wrapper.shiftLeft {
	margin-left: -200px;
}
.wrapper.shiftLeft .header {
	left: -260px;
	z-index: 105;
}
.wrapper.shiftLeft .mainnav {
	right: 0;
}
.wrapper.shiftLeft .menu-btn span.line1 {
	top: 30px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
.wrapper.shiftLeft .menu-btn span.line2 {
	opacity: 0;
}
.wrapper.shiftLeft .menu-btn span.line3 {
	top: 30px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}
.wrapper,
.wrapper .header,
.wrapper .mainnav {
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}
.friendship {
	padding: 30px 0;
}
.friendship .title {
	height: 40px;
}
.friendship .title h2 {
	height: 40px;
	line-height: 40px;
	font-size: 2rem;
}
.friendship .sort .col {
	width: 100%;
	margin-bottom: 10px;
}
.friendship .sort .col:last-child{
	margin-bottom: 0;
}
.friendship .sort select {
	height: 40px;
	line-height: 40px;
}
.friendship .linkbox {
	padding: 10px;
	min-height: auto;
}
.friendship .linkbox a {
	margin-right: 20px;
	margin-bottom: 10px;
}
.footer {
	padding: 30px 0;
	text-align: center;
}
.footer .qrcode,
.footer .l{
	float: none;
}
.footer .link span {
	line-height: 20px;
	padding: 0 10px;
}
.footer .sponsor{
	font-size: 1.4rem;
}
.footer .qrcode{
	margin: 30px 0 10px 0;
}
.footer .qrcode .box {
	width: 90px;
	margin: 0 4px;
	float: none;
	display: inline-block;
}

















} /* Less than 1200 */
