@charset "UTF-8";
@font-face {
	font-family: "SourceHanSansCN-Medium";
	src:
		url("../font/sztzb_SourceHanSansCN-Medium.otf") format("otf"),
		url("../font/sztzb_SourceHanSansCN-Medium.ttf") format("truetype"),
		url("../font/sztzb_SourceHanSansCN-Medium.eot") format("embedded-opentype"),
		url("../font/sztzb_SourceHanSansCN-Medium.woff2") format("woff2"),
		url("../font/sztzb_SourceHanSansCN-Medium.woff") format("woff"),
		url("../font/sztzb_SourceHanSansCN-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.fsm(){font-family: "SourceHanSansCN-Medium";}
.fyh(){font-family: "Microsoft YaHei";}
*{box-sizing:border-box;padding:0;margin:0;}
html,body{font-size:62.5%;}
body,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,a,img{margin:0;padding:0;border:none;}
body{background:#f2f2f2;font-family:"SourceHanSansCN-Medium","Microsoft YaHei","Arial",arial;font-size:1.4rem;color:#333;font-weight:normal;}
textarea,input{font-family:"SourceHanSansCN-Medium","Microsoft YaHei","Arial",arial;color: #333;font-size:1.4rem;padding:0;margin:0;border-radius: 0;outline:none;-webkit-appearance:none;display:block;}
input[type="checkbox"],input[type="radio"]{appearance:none;-moz-appearance:none;-webkit-appearance:none;}
select,input:focus,textarea:focus{outline:none;}
textarea{overflow: auto;resize: none; &::-webkit-scrollbar{width: 4px; } &::-webkit-scrollbar-button{display: none; } &::-webkit-scrollbar-thumb{background: @zs; } }
select::-ms-expand {display:none;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1.4rem;color:#333;font-weight:normal;}
a,a:link,a:visited,a:focus,a:active,a:hover{font-family:"SourceHanSansCN-Medium","Microsoft YaHei","Arial",arial;color:#333;font-size:1.4rem;text-decoration:none;outline: none;}
a:hover{color:@zss;}
a{.gd(.2s)}
video, iframe, img{max-width: 100%;}
@zs:#015293;
@zss:#003e6f;
@zsq:#0075d3;
.fa(){font-family: "Arial",arial;}
.tx(){&:after{content:"";height:0;display:block;clear:both;}}
.sr(@a:#ccc){&::-webkit-input-placeholder{color:@a} &:-moz-placeholder{color:@a} &::-moz-placeholder{color:@a} &:-ms-input-placeholder{color:@a}}
.gd(@a:0.4s){-webkit-transition-duration: @a; -moz-transition-duration: @a; -ms-transition-duration: @a; -o-transition-duration: @a;transition-duration: @a;}
.xz(@a:1){overflow:hidden; display:-webkit-box; -webkit-line-clamp:@a; -webkit-box-orient:vertical; word-break:break-all;}
.xuanzuan(@a:0deg){transform: rotate(@a); -webkit-transform:rotate(@a); -ms-transform:rotate(@a); -o-transform:rotate(@a); -moz-transform:rotate(@a);}
.fd(@a:1.1){transform: scale(@a,@a); -webkit-transform:scale(@a,@a); -ms-transform:scale(@a,@a); -o-transform:scale(@a,@a); -moz-transform:scale(@a,@a);}
.jd(@a:-50%,@b:-50%){-webkit-transform: translate(@a,@b); -moz-transform: translate(@a,@b); -ms-transform: translate(@a,@b); -o-transform: translate(@a,@b);transform: translate(@a,@b);}
.wrap{max-width: 1400px;width: 96%; margin: 0 auto; .row();}
.wrap12{max-width: 1200px;width: 96%; margin: 0 auto; .row();}
.lzpic2{display: none;}
.img(){img{width: 100%; display: block; }}
.img2(){img{width: 100%; display: block; .gd(.8s);}}
.picc{overflow: hidden; .img; span{display: block; background: no-repeat center; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; .gd(.8s); } }
.row{.tx();}
.col{float: left; }
.col1{width: 8.33333333%;}
.col2{width: 16.66666667%;}
.col3{width: 25%;}
.col4{width: 33.33333333%;}
.col5{width: 41.66666667%;}
.col6{width: 50%;}
.col7{width: 58.33333333%;}
.col8{width: 66.66666667%;}
.col9{width: 75%;}
.col10{width: 83.33333333%;}
.col11{width: 91.66666667%;}
.col12{width: 100%;}
.l{float: left;}
.r{float: right;}
.tal{text-align: left; }
.tar{text-align: right;}
.tac{text-align: center;}
.hide{display: none;}
.table { display:table; height:100%;width:100%;}
.td {width: 100%; display:table-cell; vertical-align:middle;}
.swiper-pagination-bullet,
.swiper-button-prev,
.swiper-button-next{outline: none;}
.tynodata{ max-width:1200px; margin:0 auto;overflow:hidden; text-align:center; margin-top:13%; margin-bottom:13%; background:url(../images/nodata.png) center top no-repeat; background-size:auto 169px; padding-top:180px;}
.tynodata .tytitle{ color:#555555; font-size:18px; overflow:hidden; margin-top:2%; line-height:26px;}
.tynodata .tydesc{color:#999999; font-size:14px; overflow:hidden; line-height:24px; margin-top:5px;}
@media screen and (max-width: 640px) {.tynodata{background-size:auto 130px; padding-top:140px;margin-top:15%; margin-bottom:15%;}}
.rbtn{
	position: relative;
	display: block;
	text-align: center;
	overflow: hidden;
	&:hover::after{
		width: 100%;
	}
	input,
	span{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 5;
		display: block;
		background: none;
		.gd;
	}
	&::after{
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 0;
		height: 100%;
		background: @zs;
		.gd;
	}
	&.w::after{
		background: #fff;
	}
}
.article{
	line-height: 30px;
	font-size: 1.6rem;
}
.main-filter{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	display: none;
	background: url(../images/sztzb_mainFilter.png);
}
.wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.header{
	width: 100%;
	padding: 50px 0;
	background: url(../images/sztzb_header_bg.jpg) no-repeat center 0;
	background-size: auto 100%;
	.logo{
		height: 86px;
		float: left;
		img{
			height: 100%;
		}
	}
	.link{
		float: right;
		margin-top: 14px;
		line-height: 20px;
		span{
			display: inline-block;
			padding: 0 16px;
			position: relative;
			&:last-child{
				padding-right: 0;
			}
			&:first-child::after{
				display: none;
			}
			&::after{
				content: " ";
				width: 1px;
				height: 12px;
				background: #ababab;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -6px;
				z-index: 2;
			}
			a{
				font-size: 1.3rem;
				color: #666;
				&:hover{
					color: @zs;
				}
			}
		}
	}
	.menu-btn{
		display: none;
	}
}
.mainnav{
	.tx;
	background: @zs;
	position: relative;
	width: 100%;
	z-index: 99;
	.gd;
	&.fixed{
		top: 0;
		left: 0;
		position: fixed;
	}
	&.top{
		top: -80px;
	}
	&::before{
		content: " ";
		position: absolute;
		left: 50%;
		right: 0;
		bottom: 0;
		height: 42px;
		z-index: 2;
		.jd(500px,0);
		background: #f2f2f2;
	}
	.nav{
		float: left;
		>ul>li{
			float: left;
			>a{
				height: 70px;
				line-height: 70px;
				display: block;
				padding: 0 31px;
				font-size: 1.7rem;
				color: #fff;
				&:hover{
					background: @zss;
				}
			}
		}
	}
	.search{
		width: 338px;
		float: right;
		background: url(../images/sztzb_search_bg.jpg) no-repeat 0 0 #fff;
		background-size: auto 100%;
		padding: 0 100px 0 27px;
		position: relative;
		z-index: 10;
		margin-top: 28px;
		input[type="text"]{
			width: 100%;
			height: 42px;
			line-height: 42px;
			border-bottom: solid 1px #999999;
			background: none;
			padding: 0 24px;
		}
		input[type="submit"],
		input[type="button"]{
			width: 24px;
			height: 100%;
			position: absolute;
			right: 100px;
			top: 0;
			z-index: 2;
			cursor: pointer;
			background: url(../images/sztzb_search.png) no-repeat right center;
		}
	}
}
.navbrace{
	height: 70px;
	display: none;
}
@media only screen and (max-width: 1420px){
	.mainnav .nav > ul > li > a {
		padding: 0 20px;
		font-size: 1.7rem;
	}
	.mainnav .search {
		width: 238px;
		padding: 0 0 0 27px;
	}
	.mainnav .search input[type="submit"],
	.mainnav .search input[type="button"] {
		right: 0;
	}
	.mainnav::before{
		background: #fff;
	}
}
.friendship{
	padding: 45px 0 70px 0;
	.title{
		height: 54px;
		border-bottom: solid 2px #e7e7e7;
		h2{
			height: 54px;
			line-height: 54px;
			border-bottom: solid 2px @zs;
			font-size: 2.4rem;
			font-weight: bold;
			float: left;
		}
	}
	.sort{
		margin: 20px -10px;
		.tx;
		.col{
			width: 20%;
			padding: 0 10px;
		}
		select{
			width: 100%;
			height: 50px;
			line-height: 48px;
			border: solid 1px #e3e3e3;
			text-indent: 18px;
			color: #444;
			appearance:none;
			-moz-appearance:none;
			-webkit-appearance:none;
			background: url(../images/sztzb_arrow1.png) no-repeat right 18px center #fcfcfc;
		}
	}
	.linkbox{
		background: #fff;
		padding: 30px 20px;
		min-height: 200px;
		a{
			display: inline-block;
			color: #828282;
			margin-right: 50px;
			margin-bottom: 10px;
			line-height: 24px;
			white-space: nowrap;
			&:hover{
				color: @zs;
			}
		}
	}
}
.footer{
	background: @zs;
	padding: 48px 0 44px 0;
	color: #fff;
	a{
		color: #fff;
	}
	.link{
		span{
			display: inline-block;
			white-space: nowrap;
			line-height: 20px;
			padding: 0 20px;
			position: relative;
			&::after{
				content: " ";
				width: 1px;
				height: 12px;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -6px;
				z-index: 2;
				background: #4e86b4;
			}
			&:first-child {
				padding-left: 0;
				&::after{
					display: none;
				}
			}
		}
	}
	.sponsor{
		line-height: 24px;
		font-size: 1.6rem;
		opacity: .7;
		margin: 22px 0 6px 0;
	}
	.address{
		font-size: 1.2rem;
		opacity: .3;
	}
	.qrcode{
		float: right;
		overflow: hidden;
		.box{
			width: 104px;
			float: left;
			text-align: center;
			margin-left: 20px;
			i{
				display: block;
			}
			.img;
			p{
				font-size: 1.2rem;
				margin-top: 12px;
			}
		}
	}
	.copy{
		font-size: 1.2rem;
		opacity: .3;
		clear: both;
		padding-top: 12px;
	}
}
.banner{
	.img;
	.lzpic1,.lzpic2{
		background: none;
	}
	&.full,&.sm-full{
		.lzpic1,.lzpic2{
			background: no-repeat center;
			background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
		}
	}
	&.sm-full .lzpic2 img,
	&.full .lzpic1 img{
		display: none;
	}
	.swiper-pagination-bullet{
		width: 10px;
		height: 10px;
	}
	.swiper-pagination-bullet-active{
		background: @zs;
	}
}
a.pcmore{
	float: right;
	height: 50px;
	line-height: 50px;
	font-size: 1.6rem;
	color: #828282;
	background: url(../images/sztzb_arrow4.png) no-repeat right center;
	padding-right: 18px;
	&:hover{
		color: @zs;
		background-image: url(../images/sztzb_arrow5.png);
	}
}
.main{
	.pctitle{
		height: 48px;
		line-height: 48px;
		margin-bottom: 4px;
		font-size: 2.8rem;
		font-weight: bold;
		padding-left: 18px;
		position: relative;
		&::after{
			content: " ";
			width: 5px;
			height: 28px;
			background: @zs;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -14px;
			z-index: 2;
		}
	}
	.news-list{
		background: #fff;
		ul{
			padding: 20px 0;
		}
		li{
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
			a{
				display: block;
				font-size: 1.6rem;
				padding: 0 110px 0 14px;
				position: relative;
				&::after{
					content: " ";
					width: 3px;
					height: 3px;
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -1px;
					z-index: 2;
					background: #666;
				}
				&:hover{
					.tit{
						color: @zs;
					}
					&::after{
						background: @zs;
					}
				}
			}
			.date,.tit{
				height: 20px;
				line-height: 20px;
				.xz;
				.gd;
			}
			.date{
				color: #999;
				position: absolute;
				top: 0;
				right: 0;
			}
			.tit{
				color: #666;
			}
		}
	}
	.layertop{
		padding: 30px;
		background: #fff;
		overflow: hidden;
		.headlines{
			border-radius: 98px;
			padding: 0 220px;
			text-align: center;
			background: url(../images/sztzb_headlines.png) no-repeat 20px center #eaf4f8;
			background-size: auto 72px;
			margin-bottom: 30px;
			span{
				display: block;
				height: 98px;
				line-height: 98px;
				.xz;
			}
			a{
				font-size: 3.6rem;
				font-weight: bold;
				color: @zs;
			}
		}
		.photonews{
			width: 780/1340*100%;
			float: left;
			position: relative;
			.swiper-slide{
				a{
					display: block;
					height: 405px;
					background: no-repeat center;
					background-size: cover;
					-moz-background-size: cover;
					-webkit-background-size: cover;
					position: relative;
					.tit{
						width: 100%;
						position: absolute;
						left: 0;
						bottom: 0;
						z-index: 5;
						background: url(../images/sztzb_photonews_filter.png);
						border-top: solid 1px rgba(255,255,255,.2);
						font-size: 1.7rem;
						color: #fff;
						padding: 0 236px 0 28px;
						span{
							display: block;
							height: 52px;
							line-height: 52px;
							.xz;
						}
					}
				}
				img{
					width: 100%;
					display: none;
				}
			}
			.btn{
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 10;
			}
			.play,
			.swiper-button-prev,
			.swiper-button-next,
			.swiper-pagination{
				float: left;
				margin: 0;
				position: static;
				line-height: 52px;
				height: 52px;
				font-size: 1.5rem;
				font-weight: bold;
				color: #fff;
				-moz-user-select: -moz-none;
				-moz-user-select: none;
				-o-user-select:none;
				-khtml-user-select:none;
				-webkit-user-select:none;
				-ms-user-select:none;
				user-select:none;
			}
			.swiper-pagination{
				bottom: 0;
				width: auto;
				padding-right: 22px;
			}
			.play,
			.swiper-button-prev,
			.swiper-button-next{
				width: 50px;
				border-left: solid 1px rgba(255,255,255,.2);
				opacity: 1;
				cursor: pointer;
				background: no-repeat center;
				&:hover{
					background-color: @zs;
				}
			}
			.swiper-button-prev{
				background-image: url(../images/sztzb_arrow2.png);
			}
			.swiper-button-next{
				background-image: url(../images/sztzb_arrow3.png);
			}
			.play{
				background-image: url(../images/sztzb_pause.png);
				&.pause{
					background-image: url(../images/ssztzb_play.png);
				}
			}
		}
		.hotnews{
			width: 540/1340*100%;
			float: right;
			.title{
				height: 44px;
				border-bottom: solid 1px #ececec;
				overflow: hidden;
				margin-bottom: 4px;
				.tit{
					float: left;
					height: 44px;
					line-height: 45px;
					float: left;
					font-size: 2rem;
					color: #fff;
					background: url(../images/sztzb_hotnews_title.jpg) no-repeat right center @zs;
					background-size: auto 100%;
					padding: 0 58px 0 29px;
				}
				.pcmore{
					height: 34px;
					line-height: 34px;
					margin-top: 8px;
					background-position: right 0 top 10px;
				}
			}
			.news-list{
				ul{
					padding: 24px 0;
					background: url(../images/sztzb_newsline.png) repeat-x 0 bottom;
					&:last-child{
						background: none;
					}
				}
			}
		}
	}
	.layer2{
		margin: 20px 0;
		.row{
			margin: 0 -10px;
			.col{
				padding: 0 10px;
			}
			.row{
				margin: 0 -5px;
				.col{
					padding: 0 5px;
				}
			}
		}
		a{
			display: block;
			overflow: hidden;
			&:hover{
				img{
					.fd;
				}
			}
		}
		.img2;
	}
	.newslayer{
		.row{
			margin: 0 -10px;
			.col{
				padding: 0 10px;
				margin-bottom: 20px;
			}
		}
		.cont{
			background: #fff;
			padding: 18px 30px;
		}
		.title{
			height: 50px;
			border-bottom: solid 2px #e7e7e7;
			.tit{
				height: 50px;
				line-height: 50px;
				border-bottom: solid 2px @zs;
				font-size: 2rem;
				font-weight: bold;
				float: left;
			}
			.pcmore{
				background-position: right 0 top 18px;
			}
		}
	}
}










































