@charset "UTF-8";
@font-face {
  font-family: "SourceHanSansCN-Medium";
  src: url("../font/sztzb_SourceHanSansCN-Medium.otf") format("otf"), url("../font/sztzb_SourceHanSansCN-Medium.ttf") format("truetype"), url("../font/sztzb_SourceHanSansCN-Medium.eot") format("embedded-opentype"), url("../font/sztzb_SourceHanSansCN-Medium.woff2") format("woff2"), url("../font/sztzb_SourceHanSansCN-Medium.woff") format("woff"), url("../font/sztzb_SourceHanSansCN-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-size: 62.5%;
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
a,
img {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background: #f2f2f2;
  font-family: "SourceHanSansCN-Medium", "Microsoft YaHei", "Arial", arial;
  font-size: 1.4rem;
  color: #333;
  font-weight: normal;
}
textarea,
input {
  font-family: "SourceHanSansCN-Medium", "Microsoft YaHei", "Arial", arial;
  color: #333;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  display: block;
}
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select,
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  overflow: auto;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 4px;
}
textarea::-webkit-scrollbar-button {
  display: none;
}
textarea::-webkit-scrollbar-thumb {
  background: #015293;
}
select::-ms-expand {
  display: none;
}
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  color: #333;
  font-weight: normal;
}
a,
a:link,
a:visited,
a:focus,
a:active,
a:hover {
  font-family: "SourceHanSansCN-Medium", "Microsoft YaHei", "Arial", arial;
  color: #333;
  font-size: 1.4rem;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #003e6f;
}
a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
video,
iframe,
img {
  max-width: 100%;
}
.wrap {
  max-width: 1400px;
  width: 96%;
  margin: 0 auto;
}
.wrap:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.wrap12 {
  max-width: 1200px;
  width: 96%;
  margin: 0 auto;
}
.wrap12:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.lzpic2 {
  display: none;
}
.picc {
  overflow: hidden;
}
.picc img {
  width: 100%;
  display: block;
}
.picc span {
  display: block;
  background: no-repeat center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.row:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.col {
  float: left;
}
.col1 {
  width: 8.33333333%;
}
.col2 {
  width: 16.66666667%;
}
.col3 {
  width: 25%;
}
.col4 {
  width: 33.33333333%;
}
.col5 {
  width: 41.66666667%;
}
.col6 {
  width: 50%;
}
.col7 {
  width: 58.33333333%;
}
.col8 {
  width: 66.66666667%;
}
.col9 {
  width: 75%;
}
.col10 {
  width: 83.33333333%;
}
.col11 {
  width: 91.66666667%;
}
.col12 {
  width: 100%;
}
.l {
  float: left;
}
.r {
  float: right;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}
.hide {
  display: none;
}
.table {
  display: table;
  height: 100%;
  width: 100%;
}
.td {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.swiper-pagination-bullet,
.swiper-button-prev,
.swiper-button-next {
  outline: none;
}
.tynodata {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  margin-top: 13%;
  margin-bottom: 13%;
  background: url(../images/nodata.png) center top no-repeat;
  background-size: auto 169px;
  padding-top: 180px;
}
.tynodata .tytitle {
  color: #555555;
  font-size: 18px;
  overflow: hidden;
  margin-top: 2%;
  line-height: 26px;
}
.tynodata .tydesc {
  color: #999999;
  font-size: 14px;
  overflow: hidden;
  line-height: 24px;
  margin-top: 5px;
}
@media screen and (max-width: 640px) {
  .tynodata {
    background-size: auto 130px;
    padding-top: 140px;
    margin-top: 15%;
    margin-bottom: 15%;
  }
}
.rbtn {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
}
.rbtn:hover::after {
  width: 100%;
}
.rbtn input,
.rbtn span {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
  display: block;
  background: none;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.rbtn::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 0;
  height: 100%;
  background: #015293;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.rbtn.w::after {
  background: #fff;
}
.article {
  line-height: 30px;
  font-size: 1.6rem;
}
.main-filter {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: none;
  background: url(../images/sztzb_mainFilter.png);
}
.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.header {
  width: 100%;
  padding: 50px 0;
  background: url(../images/sztzb_header_bg.jpg) no-repeat center 0;
  background-size: auto 100%;
}
.header .logo {
  height: 86px;
  float: left;
}
.header .logo img {
  height: 100%;
}
.header .link {
  float: right;
  margin-top: 14px;
  line-height: 20px;
}
.header .link span {
  display: inline-block;
  padding: 0 16px;
  position: relative;
}
.header .link span:last-child {
  padding-right: 0;
}
.header .link span:first-child::after {
  display: none;
}
.header .link span::after {
  content: " ";
  width: 1px;
  height: 12px;
  background: #ababab;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
  z-index: 2;
}
.header .link span a {
  font-size: 1.3rem;
  color: #666;
}
.header .link span a:hover {
  color: #015293;
}
.header .menu-btn {
  display: none;
}
.mainnav {
  background: #015293;
  position: relative;
  width: 100%;
  z-index: 99;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.mainnav:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.mainnav.fixed {
  top: 0;
  left: 0;
  position: fixed;
}
.mainnav.top {
  top: -80px;
}
.mainnav::before {
  content: " ";
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 42px;
  z-index: 2;
  -webkit-transform: translate(500px, 0);
  -moz-transform: translate(500px, 0);
  -ms-transform: translate(500px, 0);
  -o-transform: translate(500px, 0);
  transform: translate(500px, 0);
  background: #f2f2f2;
}
.mainnav .nav {
  float: left;
}
.mainnav .nav > ul > li {
  float: left;
}
.mainnav .nav > ul > li > a {
  height: 70px;
  line-height: 70px;
  display: block;
  padding: 0 31px;
  font-size: 1.7rem;
  color: #fff;
}
.mainnav .nav > ul > li > a:hover {
  background: #003e6f;
}
.mainnav .search {
  width: 338px;
  float: right;
  background: url(../images/sztzb_search_bg.jpg) no-repeat 0 0 #ffffff;
  background-size: auto 100%;
  padding: 0 100px 0 27px;
  position: relative;
  z-index: 10;
  margin-top: 28px;
}
.mainnav .search input[type="text"] {
  width: 100%;
  height: 42px;
  line-height: 42px;
  border-bottom: solid 1px #999999;
  background: none;
  padding: 0 24px;
}
.mainnav .search input[type="submit"],
.mainnav .search input[type="button"] {
  width: 24px;
  height: 100%;
  position: absolute;
  right: 100px;
  top: 0;
  z-index: 2;
  cursor: pointer;
  background: url(../images/sztzb_search.png) no-repeat right center;
}
.navbrace {
  height: 70px;
  display: none;
}
@media only screen and (max-width: 1420px) {
  .mainnav .nav > ul > li > a {
    padding: 0 20px;
    font-size: 1.7rem;
  }
  .mainnav .search {
    width: 238px;
    padding: 0 0 0 27px;
  }
  .mainnav .search input[type="submit"],
  .mainnav .search input[type="button"] {
    right: 0;
  }
  .mainnav::before {
    background: #fff;
  }
}
.friendship {
  padding: 45px 0 70px 0;
}
.friendship .title {
  height: 54px;
  border-bottom: solid 2px #e7e7e7;
}
.friendship .title h2 {
  height: 54px;
  line-height: 54px;
  border-bottom: solid 2px #015293;
  font-size: 2.4rem;
  font-weight: bold;
  float: left;
}
.friendship .sort {
  margin: 20px -10px;
}
.friendship .sort:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.friendship .sort .col {
  width: 20%;
  padding: 0 10px;
}
.friendship .sort select {
  width: 100%;
  height: 50px;
  line-height: 48px;
  border: solid 1px #e3e3e3;
  text-indent: 18px;
  color: #444;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../images/sztzb_arrow1.png) no-repeat right 18px center #fcfcfc;
}
.friendship .linkbox {
  background: #fff;
  padding: 30px 20px;
  min-height: 200px;
}
.friendship .linkbox a {
  display: inline-block;
  color: #828282;
  margin-right: 50px;
  margin-bottom: 10px;
  line-height: 24px;
  white-space: nowrap;
}
.friendship .linkbox a:hover {
  color: #015293;
}
.footer {
  background: #015293;
  padding: 48px 0 44px 0;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer .link span {
  display: inline-block;
  white-space: nowrap;
  line-height: 20px;
  padding: 0 20px;
  position: relative;
}
.footer .link span::after {
  content: " ";
  width: 1px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
  z-index: 2;
  background: #4e86b4;
}
.footer .link span:first-child {
  padding-left: 0;
}
.footer .link span:first-child::after {
  display: none;
}
.footer .sponsor {
  line-height: 24px;
  font-size: 1.6rem;
  opacity: .7;
  margin: 22px 0 6px 0;
}
.footer .address {
  font-size: 1.2rem;
  opacity: .3;
}
.footer .qrcode {
  float: right;
  overflow: hidden;
}
.footer .qrcode .box {
  width: 104px;
  float: left;
  text-align: center;
  margin-left: 20px;
}
.footer .qrcode .box i {
  display: block;
}
.footer .qrcode .box img {
  width: 100%;
  display: block;
}
.footer .qrcode .box p {
  font-size: 1.2rem;
  margin-top: 12px;
}
.footer .copy {
  font-size: 1.2rem;
  opacity: .3;
  clear: both;
  padding-top: 12px;
}
.banner img {
  width: 100%;
  display: block;
}
.banner .lzpic1,
.banner .lzpic2 {
  background: none;
}
.banner.full .lzpic1,
.banner.sm-full .lzpic1,
.banner.full .lzpic2,
.banner.sm-full .lzpic2 {
  background: no-repeat center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
.banner.sm-full .lzpic2 img,
.banner.full .lzpic1 img {
  display: none;
}
.banner .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.banner .swiper-pagination-bullet-active {
  background: #015293;
}
a.pcmore {
  float: right;
  height: 50px;
  line-height: 50px;
  font-size: 1.6rem;
  color: #828282;
  background: url(../images/sztzb_arrow4.png) no-repeat right center;
  padding-right: 18px;
}
a.pcmore:hover {
  color: #015293;
  background-image: url(../images/sztzb_arrow5.png);
}
.main .pctitle {
  height: 48px;
  line-height: 48px;
  margin-bottom: 4px;
  font-size: 2.8rem;
  font-weight: bold;
  padding-left: 18px;
  position: relative;
}
.main .pctitle::after {
  content: " ";
  width: 5px;
  height: 28px;
  background: #015293;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14px;
  z-index: 2;
}
.main .news-list {
  background: #fff;
}
.main .news-list ul {
  padding: 20px 0;
}
.main .news-list li {
  margin-bottom: 20px;
}
.main .news-list li:last-child {
  margin-bottom: 0;
}
.main .news-list li a {
  display: block;
  font-size: 1.6rem;
  padding: 0 110px 0 14px;
  position: relative;
}
.main .news-list li a::after {
  content: " ";
  width: 3px;
  height: 3px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  z-index: 2;
  background: #666;
}
.main .news-list li a:hover .tit {
  color: #015293;
}
.main .news-list li a:hover::after {
  background: #015293;
}
.main .news-list li .date,
.main .news-list li .tit {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.main .news-list li .date {
  color: #999;
  position: absolute;
  top: 0;
  right: 0;
}
.main .news-list li .tit {
  color: #666;
}
.main .layertop {
  padding: 30px;
  background: #fff;
  overflow: hidden;
}
.main .layertop .headlines {
  border-radius: 98px;
  padding: 0 220px;
  text-align: center;
  background: url(../images/sztzb_headlines.png) no-repeat 20px center #eaf4f8;
  background-size: auto 72px;
  margin-bottom: 30px;
}
.main .layertop .headlines span {
  display: block;
  height: 98px;
  line-height: 98px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.main .layertop .headlines a {
  font-size: 3.6rem;
  font-weight: bold;
  color: #015293;
}
.main .layertop .photonews {
  width: 58.20895522%;
  float: left;
  position: relative;
}
.main .layertop .photonews .swiper-slide a {
  display: block;
  height: 405px;
  background: no-repeat center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: relative;
}
.main .layertop .photonews .swiper-slide a .tit {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  background: url(../images/sztzb_photonews_filter.png);
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  font-size: 1.7rem;
  color: #fff;
  padding: 0 236px 0 28px;
}
.main .layertop .photonews .swiper-slide a .tit span {
  display: block;
  height: 52px;
  line-height: 52px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.main .layertop .photonews .swiper-slide img {
  width: 100%;
  display: none;
}
.main .layertop .photonews .btn {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.main .layertop .photonews .play,
.main .layertop .photonews .swiper-button-prev,
.main .layertop .photonews .swiper-button-next,
.main .layertop .photonews .swiper-pagination {
  float: left;
  margin: 0;
  position: static;
  line-height: 52px;
  height: 52px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main .layertop .photonews .swiper-pagination {
  bottom: 0;
  width: auto;
  padding-right: 22px;
}
.main .layertop .photonews .play,
.main .layertop .photonews .swiper-button-prev,
.main .layertop .photonews .swiper-button-next {
  width: 50px;
  border-left: solid 1px rgba(255, 255, 255, 0.2);
  opacity: 1;
  cursor: pointer;
  background: no-repeat center;
}
.main .layertop .photonews .play:hover,
.main .layertop .photonews .swiper-button-prev:hover,
.main .layertop .photonews .swiper-button-next:hover {
  background-color: #015293;
}
.main .layertop .photonews .swiper-button-prev {
  background-image: url(../images/sztzb_arrow2.png);
}
.main .layertop .photonews .swiper-button-next {
  background-image: url(../images/sztzb_arrow3.png);
}
.main .layertop .photonews .play {
  background-image: url(../images/sztzb_pause.png);
}
.main .layertop .photonews .play.pause {
  background-image: url(../images/ssztzb_play.png);
}
.main .layertop .hotnews {
  width: 40.29850746%;
  float: right;
}
.main .layertop .hotnews .title {
  height: 44px;
  border-bottom: solid 1px #ececec;
  overflow: hidden;
  margin-bottom: 4px;
}
.main .layertop .hotnews .title .tit {
  height: 44px;
  line-height: 45px;
  float: left;
  font-size: 2rem;
  color: #fff;
  background: url(../images/sztzb_hotnews_title.jpg) no-repeat right center #015293;
  background-size: auto 100%;
  padding: 0 58px 0 29px;
}
.main .layertop .hotnews .title .pcmore {
  height: 34px;
  line-height: 34px;
  margin-top: 8px;
  background-position: right 0 top 10px;
}
.main .layertop .hotnews .news-list ul {
  padding: 24px 0;
  background: url(../images/sztzb_newsline.png) repeat-x 0 bottom;
}
.main .layertop .hotnews .news-list ul:last-child {
  background: none;
}
.main .layer2 {
  margin: 20px 0;
}
.main .layer2 .row {
  margin: 0 -10px;
}
.main .layer2 .row .col {
  padding: 0 10px;
}
.main .layer2 .row .row {
  margin: 0 -5px;
}
.main .layer2 .row .row .col {
  padding: 0 5px;
}
.main .layer2 a {
  display: block;
  overflow: hidden;
}
.main .layer2 a:hover img {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
}
.main .layer2 img {
  width: 100%;
  display: block;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.main .newslayer .row {
  margin: 0 -10px;
}
.main .newslayer .row .col {
  padding: 0 10px;
  margin-bottom: 20px;
}
.main .newslayer .cont {
  background: #fff;
  padding: 18px 30px;
}
.main .newslayer .title {
  height: 50px;
  border-bottom: solid 2px #e7e7e7;
}
.main .newslayer .title .tit {
  height: 50px;
  line-height: 50px;
  border-bottom: solid 2px #015293;
  font-size: 2rem;
  font-weight: bold;
  float: left;
}
.main .newslayer .title .pcmore {
  background-position: right 0 top 18px;
}
